<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
</head>
<body>

	<a href="{%url 'login:logout' %}" style="margin-left: 800px;">Logout</a>
	<h2>Welcome {{user.name}} </h2>
	<br>
	<h3>Quotable Quotes</h3>
	<div style="display: inline-block; width: 400px; height: 700px; border: 5px solid black; overflow: scroll; padding: 5px;">
		{%for item in quote%}
		<div style="border: 2px solid black; margin-bottom: 5px;  ">
			<form action="{%url 'quote:fav' item.id%}" method="post">
			{% csrf_token %}
				<p><span style="font-size: 25px;">{{item.creator}}:</span> {{item.content}}</p>
				<h5>Posted By: <a href="{%url 'quote:info' item.user.id %}">{{item.user.name}}</a></h5>
				<input type="submit" value="Add To My List" style="background-color: peru; color: white;">
			</form>
		</div>
		{%endfor%}

	</div>

	<div style="display: inline-block; vertical-align: top; margin-left: 200px; width: 400px; height: 700px; padding: 5px;">


		<div style="border: 2px solid black; height: 300px; padding: 5px; overflow: scroll;">
			<h3>Your Favorite Quotes:</h3>
			{%for item in favs%}
			<div style="border: 2px solid black; margin-bottom: 5px; ">
				<form action="{%url 'quote:delete' item.id%}" method="post">
				{% csrf_token %}
					<p><span style="font-size: 25px;">{{item.quote.creator}}:</span> {{item.quote.content}}</p>
					<h5>Posted By:<a href="{%url 'quote:info' item.quote.user.id %}">{{item.quote.user.name}}</a></h5>
					<input type="submit" value="Remove From My List" style="background-color: fuchsia; color: white;">
				</form>
			</div>
			{%endfor%}
		</div>
		

		<div style=" height: 300px; margin-top: 100px; ">
		<h3>Contribute a Quote:</h3>	
		{% if messages %}
		{% for message in messages %}
		<p style="color: red;">{{message}}</p>
		{% endfor %}
		{% endif %}
		<form action="{%url 'quote:create'%}" method="post">
			{% csrf_token %}
			<p>Quoted By: <input type="text" name="creator" required style="width: 185px; border: 2px solid black;height: 20px;"></p>
			<p>Message: <textarea name="content" required style="width: 200px; height: 100px; border: 2px solid black;"></textarea></p>
			<input type="submit" value="Submit" style="background-color: crimson; color: white;">

		</form>

		</div>
	



	</div>





</body>
</html>